<nav class="nav flex-column">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
       <span class="nav-link" >Home</span>
    </NavLink>
    <NavLink class="nav-item" href="Converterview">
        <span class="nav-link" >Converterv</span>
    </NavLink>
    <NavLink class="nav-item" href="elpris">
        <span class="nav-link" >Elpris</span>
    </NavLink>
</nav>

 