@page "/converterview"

<h3>Converterview</h3>

<Converter convertValue=3.2808 convertText ="Meter till Feet" converterEnhet=ft></Converter>

<Converter convertValue=0.621371  convertText ="km/h till Mph" converterEnhet=mph></Converter>

@code {

}
